.container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/bg-result.png');
    /* color: #d4bc8f; */
    height: 100vh;
    width: 100vw;
}

.cover{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    animation: showCharacter 1s ease forwards;
}

.info{
    position: absolute;
    bottom: 30%;
    left: 12%;
    display: inline-block;
}

.nickName{
    position: absolute;
    top: 26%;
    right: 8%;
    display: flex;
    height: 420px;
    width: 420px;
    min-height: 330px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/assets/images/bg-name6.png');
    color: white;
    font-size: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: skew(-23deg, 7deg);
    /* background: rgba(255, 255, 255, 0.4); */
    /* animation: appear 3s forwards; */
    
}

.threeD{
    text-shadow:1px 0px #f2df0c, 1px 2px #b1a412, 3px 1px rgb(222, 225, 5),
    2px 3px #b1a412, 4px 2px #f2df0c, 4px 4px #b1a412,
    5px 3px #f2df0c, 5px 5px #b1a412, 7px 4px #f2df0c,
    2px 3px #b1a412, 4px 2px #f2df0c, 4px 4px #b1a412,
    5px 3px #f2df0c, 5px 5px #b1a412, 7px 4px #f2df0c
}

.nameContainer{
    position: absolute;
    color: white;
    font-size: 40px;
    letter-spacing: 10px;
    display: inline-block;
    min-width: 18rem;
    bottom: 4px;
    left: 114px;
}

.star {
    opacity: 0;
    animation: appear 2s ease forwards;
}

.star:nth-child(1) {
    animation-delay: 1.2s;
}
.star:nth-child(2) {
    animation-delay: 1.4s;
}
.star:nth-child(3) {
    animation-delay: 1.6s;
}
.star:nth-child(4) {
    animation-delay: 1.8s;
}
.star:nth-child(5) {
    animation-delay: 2s;
}

@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes shine {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

@keyframes showCharacter {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

@media (max-width: 1140px)  {
    .nickName {
        right: 3%;
        font-size: 54px;
    }
    .info{
        left: 9%;
    }
    
}

@media (max-width: 840px)  {
    .nickName {
        right: 1%;
        font-size: 50px;
    }

    .info{
        left: 6%;
    }
    
}