
*:hover {
    cursor: url('/assets/icons/cursor.png'), auto !important;
  }
  
  body {
    margin: 0;
    cursor: url('/assets/icons/cursor.png'), auto;
    font-weight: 600;
    user-select: none;
    color: #343434;
    overflow: hidden;
    /* font-family: Arial, Helvetica, sans-serif; */
  }

.icon{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

img {
  -webkit-user-drag: none;
}